<!DOCTYPE html>
<html>

<head>
  <style>
    /* html{
      background-color: #000;
      text-align: center;
    } */
    body {
      background-color: #ffffff;
      color: #000;
      /* width: 297mm;
      margin: auto; */
      font-size: 12px;
    }

    .inner-border {
      padding: 0 20px;
      text-align: center;
      margin-bottom: 50px;
    }

    .title {
      font-size: 20pt;
      font-weight: bold;
      text-transform: capitalize;
    }

    .sub-title {
      font-size: 14px;
      font-weight: bold;
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      /* border: 1px solid #000000 */
    }

    /* table thead tr {
      background-color: rgba(114, 127, 223, 0.666);
      color: #fff;
    } */

    table thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #4e4e4e;
      border-top: 2px solid #4e4e4e;
    }

    table tfoot tr {
      background-color: #eeeeee;
      border-width: 2px;
      border-style: double;
      border-left: 0;
      border-right: 0;
    }

    table td,
    table th {
      padding: .25rem;
      vertical-align: top;
      border: 1px solid #4e4e4e;
    }

    .description {
      text-align: left;
    }

    .amount {
      text-align: right;
    }

    table tbody tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, .05);
    }

    .pie-chart-container {
      display: block;
      float: left;
      width: 100%;
      margin-bottom: 10px;
    }

    .pie-chart-container .left-container {
      float: left;
      width: 50%;
    }

    .pie-chart-container .right-container {
      float: left;
      text-align: center;
      width: 50%;
    }

    .header {
      float: left;
      width: 100%;
      text-align: left;
      position: relative;
      margin-bottom: 10px;
    }

    .header .left-content {
      width: 100%;
      float: left;
      padding-right: 80px;
    }

    .header img {
      height: 70px;
      width: 70px;
    }

    /* .header .center-content {
      text-align: center;
      width: 33.33%;
      float: left;
    } */

    .header .right-content {
      text-align: right;
      position: absolute;
      right: 5px;
      top:0px;
    }

    .x.axis.path {
      display: none;
    }

    .line {
      fill: none;
      stroke: #808080;
      stroke-width: 3px;
    }

    .dot {
      fill: #808080;
      stroke: #fff;
      stroke-width: 2px;
    }

    .no-margin {
      margin: 0 !important;
    }

    .no-padding {
      padding: 0 !important;
    }

    .profit-container {
      float: left;
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
      position: relative;
    }

    .profit-container .detail-container {
      float: left;
      width: 25%;
      position: relative;
      min-height: 150px;
    }

    .profit-container .detail-container .inner-content {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
    }

    .profit-container .detail-container .detail {
      padding-left: 5px;
      margin: 0;
    }

    .profit-container .detail-container .detail.income {
      border-left: rgba(77, 102, 175, .5);
      border-left-width: 5px;
      border-left-style: solid;
    }

    .profit-container .detail-container .detail.expenses {
      border-left: rgba(255, 0, 0, .5);
      border-left-width: 5px;
      border-left-style: solid;
    }

    .profit-container .detail-container .detail h5 {
      margin: 2px !important;
    }

    .profit-container .detail-container .detail p {
      color: #808080;
    }

    .profit-container .graph {
      min-height: 150px;
      float: right;
      width: 75%;
    }

    .fs25 {
      text-align: left;
      width: 100%;
      float: left;
    }
    .tc{
      text-align: center !important;;
    }

    span.label {
      color: #808080;
    }

    .income-container {
      text-align: left;
      float: left;
      width: 90%;
      min-height: 100px;
      margin-top: 20px;
    }

    .unpaid-content {
      width: 59%;
      float: left;
      margin-right: 5px;
    }

    .unpaid-content .bar-container {
      width: 100%;
      height: 35px;
      background-color: orange;
      margin-right: 10px;
      margin-top: 10px;
    }

    .unpaid-content .bar-container .unpaid-bar {
      position: relative;
      width: calc(60% - 15px);
      float: left;
      height: 35px;
    }

    .unpaid-content .bar-container .unpaid-bar .label {
      position: absolute;
      bottom: -30px;
      font-size: 10px;
      width: 100%;
      left: 0;

    }

    .unpaid-content .bar-container .unpaid-bar .label .text-label {
      width: 100%;
      float: left;
      white-space: nowrap;
      color: #808080;
    }

    .unpaid-content .bar-container .overdue-bar {
      background-color: red;
      width: 40%;
      margin-right: 10px;
      float: right;
      height: 35px;
      position: relative;
    }

    .unpaid-content .bar-container .overdue-bar .label {
      position: absolute;
      bottom: -30px;
      font-size: 10px;
      width: 100%;
      left: 0;

    }

    .unpaid-content .bar-container .overdue-bar .label .text-label {
      width: 100%;
      float: left;
      white-space: nowrap;
      color: #808080;
    }

    .paid-container {
      float: left;
      width: 38%;
    }

    .paid-container .paid-bar {
      height: 35px;
      background-color: green;
      margin-top: 10px;
      position: relative;
    }

    .paid-container .paid-bar .label {
      position: absolute;
      bottom: -30px;
      font-size: 10px;
      width: 100%;
      left: 0;
    }

    .paid-container .paid-bar .label .text-label {
      width: 100%;
      float: left;
      white-space: nowrap;
      color: #808080;
    }

    .expenses-container {
      min-height: 100px;
      float: right;
      width: 100%;
    }

    .expenses-container .labels-container {
      float: right;
      padding-top: 20px;
    }

    .expenses-container .labels-container .category {
      height: 20px;
      padding: 2px 5px;
      margin-bottom: 5px;
      text-align: left;
      min-width: 100px;
      color: #808080;
      font-size: 10px;
      border-left-width: 5px;
      border-left-style: solid;

    }

    .expenses-container .labels-container .category strong {
      color: #000;

    }

    .expenses-container .graph-container {
      float: right;
      margin-right: 20px;
      min-height: 100px;
    }
    .wf{
      width: 100%;
    }
  </style>
</head>

<body>
  <% var expense=0, income=0; %>
    <% var expenses_color=["#a6cee3", "#1f78b4" , "#b2df8a" , "#33a02c" , "#fb9a99" , "#e31a1c" , "#fdbf6f" , "#ff7f00"
      , "#cab2d6" , "#6a3d9a" , "#ffff99" , "#b15928" ] %>
      <% var totalExpenses=expenses.lenght>5?5:expenses.length %>
        <div class="inner-border">
          <div class="wf tc title">Cash Flow</div>
          <div class="header">
            <div class="left-content">
              <div class="sub-title">
                <%= company%>
              </div>
              <p>
                <span class="label">Report</span> (<strong>
                  <%=start_date%> to <%=end_date%>
                </strong>)<br />
              </p>
            </div>
            

            <div class="right-content">
              <img src="https://forkfreight.com/wp-content/themes/twentytwenty/images/logo.png" />
            </div>
          </div>
          <% if(showBarGraph) {%>
            <span class="fs25">Calculation of Income/Expenses</span>
            <div id="groupBarChart"></div>
            <br />
            <%}%>
          <% if(showProfitAndLossGraph) {%>
              <span class="fs25">Profit & Loss</span>
              <div class="profit-container">
                <div class="detail-container">
                  <div class="inner-content">
                    <div class="detail net-profit">
                      <h5 class="no-padding">
                        <%= addDecimal(total_income-total_expenses) %>
                      </h5>
                      <p class="no-padding no-margin">Net Income</p>
                    </div>
                    <div class="detail income">
                      <h5 class="no-padding">
                        <%= addDecimal(total_income) %>
                      </h5>
                      <p class="no-padding no-margin">Total Income</p>
                    </div>
                    <div class="detail expenses">
                      <h5 class="no-padding">
                        <%= addDecimal(total_expenses) %>
                      </h5>
                      <p class="no-padding no-margin">Total Expenses</p>
                    </div>
                  </div>
                </div>
                <div class="graph">
                  <div id="profitlossBarChart"></div>
                </div>
              </div>
              <br />
            <%}%>
            <% if(showIncomeAndExpensesGraph) {%>
              <div class="pie-chart-container" style="margin-top: 5px; margin-bottom: 10px;">
                <div class="left-container">
                  <span class="fs25">Income</span>
                  <br>
                  <div class="income-container">
                    <div class="unpaid-content">
                      <span class="label">UNPAID</span>
                      <div class="bar-container">
                        <div class="unpaid-bar">
                          <div class="label">
                            <strong>
                              <%=addDecimal(unpaid) %>
                            </strong><br />
                            <span class="text-label">OPEN INVOICES</span>
                          </div>
                        </div>
                        <div class="overdue-bar">
                          <div class="label">
                            <strong>
                              <%=addDecimal(overdue) %>
                            </strong><br />
                            <span class="text-label">OVERDUE</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="paid-container">
                      <span class="label">PAID</span>
                      <div class="paid-bar">
                        <div class="label">
                          <strong>
                            <%=addDecimal(paid) %>
                          </strong><br />
                          <span class="text-label">PAID LAST 30 DAYS</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="right-container">
                  <span class="fs25 tc">Expenses</span>
                  <br>
                  <div class="expenses-container">
                    <div class="graph-container" id="expensesPieChart"></div>
                    <div class="labels-container">
                      <% for(var i=0 ;i <totalExpenses;i ++){ if(expenses[i].value>0){%>
                        <div style="border-left-color:<%= expenses_color[i] %>;" class="category">
                          <strong>
                            <%=addDecimal(expenses[i].value)%>
                          </strong>
                          <br />
                          <%=expenses[i].label%>
                        </div>
                        <%}}%>
                    </div>
                  </div>
                </div>
              </div>
            <%}%>
              <table>
                <thead>
                  <tr>
                    <th style="width:100px;">Date</th>
                    <th class="description">Description</th>
                    <th style="width:100px;">Category</th>
                    <th style="width:100px;" class="amount">Income</th>
                    <th style="width:100px;" class="amount">Expenses</th>
                  </tr>
                </thead>
                <tbody>

                  <%for(let i=0; i < data.length; i++){%>
                    <tr>
                      <td>
                        <%= data[i].transactionDate%>
                      </td>
                      <td class="description">
                        <%= data[i].description%>
                      </td>
                      <td>
                        <%= data[i].category%>
                      </td>
                      <td class="amount">
                        <% if(data[i].transactionType=='Income' ){%>
                          <% income+=data[i].amount%>
                            <%= addDecimal(data[i].amount)%>
                              <%}%>
                      </td>
                      <td class="amount">
                        <% if(data[i].transactionType=='Expense' || data[i].transactionType=='Expenses' ){%>
                          <% expense+=data[i].amount%>
                            <%= addDecimal(data[i].amount)%>
                              <%}%>
                      </td>
                    </tr>
                    <%}%>
                </tbody>
                <tfoot>
                  <tr>
                    <th></th>
                    <th class="description">Net Income</th>
                    <th></th>
                    <th class="amount">
                      <%=addDecimal(income - (expense))%>
                    </th>
                    <th></th>
                  </tr>
                </tfoot>
                <tfoot>
                  <tr>
                    <th></th>
                    <th class="description">Total</th>
                    <th></th>
                    <th class="amount">
                      <%=addDecimal(income)%>
                    </th>
                    <th class="amount">
                      <%=addDecimal(expense)%>
                    </th>
                  </tr>
                </tfoot>
              </table>
        <div style="float: left; margin-top: 15px; text-align: left;">
          <span class="label">Report Run Date:</span> <strong>
            <%=currentDate%>
          </strong> <br />
          <span class="label">This report was created through https://forkfreight.com/</span>
        </div>
        </div>
</body>

</html>